<StackLayout>
    <SearchBar hint="Search for word" (clear)="clearBox()" [text]="searchPhrase" (textChange)="searchForTerm($event)" (submit)="onSubmit($event)" 
    ></SearchBar>
    <ListView  [items]="words" class="list-group">
        <ng-template let-item="item">
            <GridLayout rows="auto" columns="*, 100"class="item list-group-item">
                <Label row="0" col="0" [text]="item.word" class="list-group-item-heading"></Label>
                <Image row="0" col="1" stretch="aspectFill" *ngIf="item.source === 'oxford'" src="res://oxford" ></Image>
                <Image row="0" col="1" stretch="aspectFill" *ngIf="item.source === 'urban'" src="res://ub" ></Image>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>